# Shared
NODE_ENV=development
APP_PORT=3001
WEB_PORT=3000

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=jinhu_smart_park
POSTGRES_USER=jinhu
POSTGRES_PASSWORD=change_me

# Auth
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=2h
BCRYPT_SALT_ROUNDS=12

# API
API_PREFIX=/api/v1
WEB_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_PREFIX=/api/v1
